
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/


# Environment variables
.env

# Downloaded files
downloads/

# Screenshots, videos and traces
screenshots/
videos/
traces/

/allure-results